img {
    width : 40vw;
    height: 60vh;
}
.delete-logo{
    width:40vw;
    height : 70vh;
    margin-top: 15vh;
}
.placeitem{
    background-color: black;
    color: white;
    padding-left: 30vw;
    padding-right: 30vw;
    text-align: center;
    color:rgb(151, 206, 24);
    padding-bottom: 10vh;
    padding-top: 10vh;
    transition: all .5s;
}

button{
    margin-top: 5px;
    margin-bottom: 5px;
    width : 10vw;
    height: 5vh;
    text-align: center;
    font-weight: 500;
    border : 0.5px solid rgb(91, 102, 91);
    background: rgb(38, 128, 189);
    color: white;
    border-radius:5%;
}
.edit-button{
    background-color: rgb(190, 42, 158);
    width: 6vw;
}
.delete-button{
    background-color: tomato;
    width:6vw;
}
.card-for-placeitem {
    width:40vw;
    padding: 0;
    background-color: white;
    margin: 0;
}
map {
    height : 40vh;
}

.modalOverlay{
   background-color: white;
   opacity:1;
   margin-left: 10vw;
   margin-right: 10vw;
   margin-top: 10vh;
   margin-bottom: 10vh;
   width:80vw;
   height: 55vh;
   z-index: 1;
   position: absolute;
   text-align: center;
  }
  .modalOverlay button{
    position: relative;
    top: 60vh;
  }
  .hidebutton{
      display: none;
  }
  .delete-modal{
      background-color: rgb(235, 236, 222);
      width:50vw;
      height:20vh;
      position: absolute;
      margin-top: 40vh;
      margin-left: 25vw;
      text-align: center;
  }

  .delete-modal .delete-button{
      margin-top: 5vh;
      margin-left: 2vw;
  }

  .delete-modal .edit-button{
      margin-top: 5vh;
      margin-right: 2vw;
  }


  

@media(max-width : 600px){
    img {
        width : 80vw;
        height: 40vh;
    }
    .placeitem{
        background-color: black;
        color: white;
        padding-left: 10vw;
        padding-right: 10vw;
        text-align: center;
        color:rgb(151, 206, 24);
        padding-bottom: 10vh;
        padding-top: 10vh;
    }
    .card-for-placeitem {
        width:80vw;
        padding: 0;
        background-color: white;
        margin: 0;
    }
    .delete-logo{
        width:90vw;
    height : 70vh;
    margin-top: 15vh;
    }
    button{
        width : 30vw;
        padding: 2px;
    }
    .edit-button{
        width: 15vw;
    }
    .delete-button{
        width:15vw;
    }
    .modalOverlay{
        height: 60vh;
    }
    .delete-modal{
        margin-left: 10vw;
        width:80vw;
    }
}