body {
  margin: 0;
  font-family: 'Sriracha', cursive;
  background-color: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-decoration: none;
}

code {
  font-family: 'Sriracha', cursive;
}
